@media only screen and (max-width: 1200px) {
  /* ======= Testimonial Section ======= */
  #testimonial-section {
    background-position: left bottom;
  }
  #testimonial-section .section-title {
    background-color: #1e1e1e;
  }
}

@media only screen and (max-width: 991px) {
  /* ======= Header Section ======= */
  #header-section .navbar .navbar-toggler {
    background: #fc2b39;
    padding: 3px 7px !important;
    border-radius: 5px;
  }
  #header-section .navbar .navbar-toggler:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  #header-section .navbar .navbar-toggler span {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 24px;
  }
  #header-section .navbar .navbar-toggler.toggle .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 5px);
            transform: rotate(-45deg) translate(-6px, 5px);
  }
  #header-section .navbar .navbar-toggler.toggle .bar-2 {
    opacity: 0;
  }
  #header-section .navbar .navbar-toggler.toggle .bar-3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
            transform: rotate(45deg) translate(-7px, -7px);
  }
  #header-section .navbar .navbar-collapse {
    background-color: #ffffff;
    -webkit-box-shadow: 8px 13px 23px #0000001a;
            box-shadow: 8px 13px 23px #0000001a;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    border-radius: 8px;
  }
  #header-section .navbar .navbar-collapse .nav-item {
    margin: 10px 0;
  }
  #header-section .navbar .navbar-collapse .nav-item:first-child {
    margin-top: 30px;
  }
  #header-section .navbar .navbar-collapse .nav-item:last-child {
    margin-bottom: 30px;
  }
  #header-section .navbar .navbar-collapse .nav-item .nav-link {
    padding: 0;
    color: #272727;
  }
  #header-section .navbar .navbar-collapse .nav-item .nav-link.button {
    border-color: #272727;
  }
  #header-section .navbar.sticky-nav .navbar-collapse {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  /* ======= Banner Section ======= */
  #banner-section {
    padding: 200px 0 150px 0;
  }
  /* ======= Testimonial Section ======= */
  #testimonial-section .testimonial-box {
    width: 100% !important;
  }
  #testimonial-section .swiper-navigation {
    right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  /* ======= Reuseable ======= */
  .container {
    padding: 0 30px !important;
  }
  .heading {
    font-size: 30px;
  }
  .big-heading {
    font-size: 35px;
  }
  .big-para-text {
    font-size: 17px;
  }
  .card-heading {
    font-family: 20px;
  }
  #service-section,
  #testimonial-section,
  #portfolio-section {
    padding: 50px 0;
  }
  /* ======= Testimonial Section ======= */
  #testimonial-section .testimonial-box {
    padding: 60px 30px 80px 30px;
  }
}

@media only screen and (min-width: 1400px) {
  /* ======= Testimonial Section ======= */
  #testimonial-section .swiper-navigation {
    right: 155px;
  }
}
/*# sourceMappingURL=responsive.css.map */